.Landing {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(255,255,255,1));

  h1 {
    width: 40rem;
    text-align: center;
    font-weight: bold;
    color: rgb(70, 58, 47);
    font-family: Cera;
    letter-spacing: 0.05rem;
  }

  &-logo {
    width: 9rem;
    height: 9rem;
    margin-left: 1rem;
    position: absolute;
    top: 0;
    left: 1rem;
  }

  &-signin {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  &-conent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-login {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  &-social {
    margin: 1rem;

    &-fb {
      margin-right: 0.7rem;
      background-color: rgb(0, 123, 255);
    }

    &-g {
      color: rgb(0, 123, 255);

      &-svg {
        height: 1rem;
      }
    }

    &-g:hover, &-fb:hover {
      background-color: rgb(255, 255, 255) !important;
      
      color: rgb(0, 123, 255) !important;
    }
  }

  &-button {
    border-radius: 0 25px 25px 0 !important;
    height: 50px !important;
    width: 10rem;
    font-size: large !important;
    font-weight: 400 !important;
  }

  &-form {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin-top: 2rem;
  }

  &-alternative {
    margin-right: 1rem;
  }
  
  &-input {
    font-family: Cera !important;
    border-radius: 25px 0 0 25px !important;
    height: 50px !important;
  }
}