.Register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;

  &-buttons {
    margin-top: 1rem;

    &-left {
      margin-right: 2rem;
    }
  }

  &-title {
    margin-bottom: 4rem;
  }
  
  &-form {
    width: 42rem;
    display: flex;
    flex-direction: row;

    &-left {
      width: 50%;
      margin-right: 2rem;
    }

    &-right {
      width: 50%;
      &-sex {
        display: flex;
        justify-content: space-between;
        width: 16rem;
        margin-top: 0.5rem;
        margin-bottom: 0.7rem;
      }
    }

    &-el {
      margin-bottom: 1rem;

      &-date {
        margin-top: 0.8rem;
      }

    }
  }
}